/*GENERAL*/
body{ width:100%; left:0; margin:0; top:0; font-family: 'PT Sans Narrow', sans-serif !important; background-color: #0d0d0d; color:white;}
header, footer, section{ width:100%;  overflow:hidden; margin-top:0; height:auto;  }
.container{ padding:10% 0; min-height:200px; width:80%; height:auto; /*border-bottom:1px #FFf solid;*/ margin:auto;  }

.content{ position:relative; margin:auto; }
.column{  width:50%; }
.column30{width: 30%;}
.column70{width: 70%;}
/**** texts ****/
a{ text-decoration:none; color:#fff; }
p{ line-height:35px; letter-spacing:0px;}
h1{ font-weight:500;   font-size:65px; margin-top:25px;letter-spacing:-2px;}
h2{margin:auto; font-weight:300; font-size: 35px;}
span{  font-weight:500; }
/**** botones ****/
.btn{     border: 1px solid #2E2E2E; background:transparent;  font-weight: 600; font-size: 18px; padding: 17px 45px; -webkit-border-radius: 7px; border-radius: 7px; text-decoration:none; display: table; margin: auto; margin-top:30px; -webkit-transition: all 0.4s ; transition: all 0.4s ; }
.btn:hover{ border-color: #86c74d; background:#86c74d; color:#fff; }
/****colores****/
.text-pink{ color:; }
.text-black{ color:; }
.text-white{ color:; }
.white{ background-color: ; }
.gray{ background-color: #2e2e2e; }
.pink{ background-color: #cc0066; }
.shadow{box-shadow: 0px 6px 25px #000;}
/**** left/right ****/
.left{position: relative; left: 0; float: left; }
.right{position: relative; right: 0; float: right;}
.align_right{ background:#f2f2f2; }
.align_right h2, .align_right .container p{ text-align:right; }
.align_left h2, .align_left .container p{ text-align:left; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
/**** clear ****/
.clear{ clear: both; }

/**** index page* ***/
	/**** header index ****/
	header{ margin:0; padding:0; }
	header menu .logo{height: 30px; float: left; padding-left: 50px; padding-right: 20px;}
	header menu .nombre{float: left;}
	header menu	{height:25px; width:100%; /*border-bottom:1px solid red;*/ padding:20px 0; margin-top:20px; text-shadow: 1px 1px #000; position: absolute; z-index: 10;}
	header menu h2{margin-top: -10px;}
	header menu ul{text-align: right; margin: 0; padding-right: 10%;}
	header menu li{display: inline;}

	.slider_top{min-height: 600px; max-height: 700px;}
	.caption{position: absolute; top: 30%; background-color: rgba(0,0,0,0.5); margin: 0 10%;}
	.next,.prev{position: absolute; top: 50%; z-index: 10; height: 50px; width: 50px; color:rgba(0,0,0,0); opacity: 0.5; background-size: cover; }
	.next{ right:0; background-image: url('../img/next.png'); }
	.prev{left:0; background-image: url('../img/prev.png'); }
	
	
	/*section footer*/
	footer{  }
	
	

/*Responsive*/
/*TABLET*/
@media only screen and (max-width: 50em){
	/*general*/
	.container{ width:100%; }
	.row{ width:100%; }
	/*header*/

}
/*MOBILE*/
@media only screen and (max-width: 46em){
	/*general*/

}